# 1. 忽略虛擬環境
venv/
.venv/
__pycache__/

# 2. 忽略流量數據檔
*.pcap
*.pcapng
*.csv
*.log
*.npy
datasets/

# 3. 忽略 IDE 設定
.vscode/
.idea/

# 4. 忽略 Jupyter Notebook 的 checkpoint
.ipynb_checkpoints/

# 5. 忽略 testData 測試資料夾
dataTest/